h1 {
    color: aqua;
}
img{
    width: 400px;
    }
#thirdDiv {
    height:600pc ; 
    width: 500px; 
    background-color: burlywood;
    padding: 50px;
    border: chocolate; 
    border-style: groove;   
}
#spanId{
margin: 50px;
} 